:root {
  /*
   * Transitions
   *
   * IDEA: https://m3.material.io/styles/motion/easing-and-duration/applying-easing-and-duration
   */

  --easing-standard: cubic-bezier(0.2, 0, 0, 1);
  --easing-standard-accelerate: cubic-bezier(0.3, 0, 1, 1);
  --easing-standard-decelerate: cubic-bezier(0, 0, 0, 1);
  --easing-emphasized: var(--easing-standard);
  --easing-emphasized-accelerate: cubic-bezier(0.3, 0, 0.8, 0.15);
  --easing-emphasized-decelerate: cubic-bezier(0.05, 0.7, 0.1, 1);
  --easing-duration-short1: 50ms;
  --easing-duration-short2: 100ms;
  --easing-duration-short3: 150ms;
  --easing-duration-short4: 200ms;
  --easing-duration-medium1: 250ms;
  --easing-duration-medium2: 300ms;
  --easing-duration-medium3: 350ms;
  --easing-duration-medium4: 400ms;
  --easing-duration-long1: 450ms;
  --easing-duration-long2: 500ms;
  --easing-duration-long3: 550ms;
  --easing-duration-long4: 600ms;
  --easing-duration-extra-long1: 700ms;
  --easing-duration-extra-long2: 800ms;
  --easing-duration-extra-long3: 900ms;
  --easing-duration-extra-long4: 1000ms;
}
