@import "./colors.css" layer(colors);
@import "./transitions.css" layer(transitions);
@import "./spacings.css" layer(spacings);

@layer base {
  :root {
    --shadow-focus-ring: 0 0 0 2px var(--color-input-focus);
  }
}

@layer colors, transitions, spacings, base;

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
  padding: 32px;
  color: var(--color-text);
  background-color: var(--color-background);
}

#app {
  /* max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center; */
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}
