@import url("colors.css") layer(colors);
@import url("transitions.css") layer(transitions);
@import url("spacings.css") layer(spacings);

@layer base {
  :root {
    --shadow-focus-ring: 0 0 0 2px var(--color-input-focus);
  }

  body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
    padding: var(--spacing-32);
    color: var(--color-text);
    background-color: var(--color-background);
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 0;
  }
}

@layer colors, transitions, spacings, base;
